name: Job1

on:
  workflow_call:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - env:
          BRANCH: ${{ github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "BRANCH: ${BRANCH}"
          echo "GITHUB_TOKEN: ${GITHUB_TOKEN}"
